main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
  font-family: "PT Serif", serif;
}

button:hover {
  padding: 15px;
  font-weight: bolder;
  background-color: white;
  color: blue;
  transition: 0.3s;
}

.cat-container {
  height: 50vh;
}

img {
  width: 300px;
}

button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s;
  opacity: 0.9;
}

button:focus {
  outline: none;
}
